<h1>Welcome#index</h1>
<p>MakutaSystem1</p>
<p>MakutaSystem10</p>
<p>MakutaSystem100</p>
<P>MakutaSystem1000</P>
<P>MakutaSystem1000000</P>
<P>MakutaSystem1000000 20140202test makuta yukio </P>
<p>Find me in app/views/welcome/index.html.erb</p>
